/*imported fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/*formatting*/
body {
    margin: auto;
    max-width: 60%;
}

/*text styling*/

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

h1{
    font-size: 4rem;
}

p, li {
    font-family: 'Quicksand', sans-serif;
}

/*top-down styling*/

.blu {
    background-color: #12D2DF;
    padding:1.5rem;
}

span {
    color: #F00F0F;
}

.pic {
    text-align: center;
    color: #ABABAB;        
}

li {
   /* list-style-image: url(/images/Screenshot\ 2023-09-19\ 192427.png) */
    margin: 0;
	padding: 36px 0 36px 84px;
	list-style: none;
	background-image: url(/images/Screenshot\ 2023-09-19\ 192427.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 40px;
}

ul li {
    max-width: 60%;
    margin: auto;
    padding-bottom: 1.5rem;
}

.end {
    padding-bottom: 3rem;
}