/*move all content*/

.all {
    margin: auto;
    max-width: 75%;
}

/*div setup*/
.one {
    background-color: orange;
    padding: 2rem;
    width: 45%;
    padding-left: 8ch;
    padding-top: 2ch;
    position: absolute;
    left:0;
    opacity: 1;
    transition: all 1.5s ease-in-out;
}
.two {
    background-color: greenyellow;
    padding: 2rem;
    width: 90%;
    height: 80%;
    padding-top: 2ch;
    transition: all 2s; 
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.three {
    background-color: blue;
    padding: 2rem;
    width: 85%;
    padding-left: 8ch;
    padding-bottom: 2ch;
    transition: all 3s;
    transition-timing-function: ease-in-out;
}

/*div transitions*/

.one:hover {
    opacity: 0;
    transform: scale(.5);
}

.two:hover {
    width:50%;
    height: 50%;
    transform: skew(40deg, 20deg);
}

.three:hover {
    width: 50%;
   transform: rotate(1080deg);
}

/*non div content*/

body {
    background-color: purple;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}